body{
    background-color: rgb(15, 15, 15);
    color: azure;
    
}
.naranja{
    text-align: center;
    background-color: rgb(220, 100, 20);
}
.orange{
    color: rgb(220, 100, 20);
}
.menosborde{
    line-height: 1px;
}
